<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragment를 파라미터로 처리 테스트</title>
</head>
<body>
  <div th:fragment="target(first,second)">
    <style>
      .c1 {
        background-color: red;
      }
      .c2 {
        background-color: blue;
      }
    </style>

    <div class="c1">
      <th:block th:replace="${first}"></th:block>
    </div> <!-- 조각의 이름은 first -->

    <div class="c2">
      <th:block th:replace="${second}"></th:block>
    </div> <!-- 조각의 이름은 second-->

  </div>
</body>
</html>